<div class="container my-4 bg-dark text-white py-3 rounded">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ titulo }}</h1>
            <p>{{ mensaje }}</p>
        </div>
        <div class="col-md-6 text-end align-middle">
            <button class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear nuevo registro" [routerLink]="['/clients/form-clients']">
                <span class="fs-1">
                    <fa-icon [icon]="faAddPerson"></fa-icon>
                </span>
            </button>
        </div>
    </div>
</div>
<div  class="container my-4">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr class="text-center">
                    <th (click)="orderListClients('idUser')">ID</th>
                    <th (click)="orderListClients('rut')">Rut</th>
                    <th (click)="orderListClients('name')">Nombre</th>
                    <th (click)="orderListClients('email')">Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients | orderList : optionSort.property : optionSort.order">
                    <td class="text-center">{{client.idUser}}</td>
                    <td class="text-end">{{client.rut}}</td>
                    <td>{{client.name}} {{client.lastName}}</td>
                    <td>{{client.email}}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar" (click)="eliminarClient(client)">
                                    <span class="fs-5">
                                        <fa-icon [icon]="faDeletePerson"></fa-icon>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #NoHayUsuarios>
    <div class="container my-4 py-3 rounded">
        <div class="card">
            <div class="card-header text-center">
                <span class="text-warning fs-1">
                    <fa-icon [icon]="faExclamation"></fa-icon>
                </span>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">{{ mensaje }}</h5>
            </div>
        </div>
    </div>
</ng-template>