<div class="album py-5 bg-light">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card mb-4 box-shadow">
          <img
            src="{{ product.image }}"
            style="height: 325px; width: 100%; display: block"
          />
          <div class="card-body">
            <p class="card-text">{{ product.name }}</p>
            <p class="card-text">Categoría: {{ product.category }}</p>
            <p class="card-text">Stock: {{ product.stock }}</p>
            <p class="card-text">
              <strong
                >Valor:
                {{
                  product.price | currency : "CLP" : "symbol-narrow" : "1.0-0"
                }}</strong
              >
            </p>

            <div class="d-flex justify-content-between">
              <div class="col-md-4 d-flex justify-content-start">
                <button
                type="button"
                class="btn btn-link px-2"
                (click)="quantityInput.stepDown()"
                >
                    <fa-icon [icon]="faMinus"></fa-icon>
                </button>

                <input
                  value="1"
                  #quantityInput
                  id="form1"
                  min="1"
                  max="{{ product.stock }}"
                  name="quantity"
                  type="number"
                  readonly
                  class="form-control form-control-sm"
                />

                <button
                type="button"
                class="btn btn-link px-2"
                (click)="quantityInput.stepUp()"
                >
                <fa-icon [icon]="faPlus"></fa-icon>
                </button>

              </div>

              <div class="col-sm-8 d-flex justify-content-end">
                <button
                  type="button"
                  (click)="onSubmit(product.idProduct,quantityInput.value)"
                  class="btn btn-lg btn-outline-primary"
                >
                  <span class="fs-5">
                    Añadir al carro <fa-icon [icon]="faCartPlus"></fa-icon>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
