<footer class="container-fluid bg-dark text-warning py-5 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-footer" alt="" src="../../../assets/img/rocket.svg">
                <br>
                <p>ADMIN</p>
                <hr>
                <p>
                    Powered by <a href="http://angular.io" target="_blank">Angular</a>
                </p>
                <p>
                    Este proyecto fue desarrollado con Angular + VSC,
                    profesor Christian Sarmiento.<br /> &copy; Company 2023, Inc. Todos
                    los derechos reservados. Términos de uso y privacidad.<br />
                </p>
            </div>
            <div class="col-sm-4">
                <h4>Mapa del sitio</h4>
                <hr>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <p class="fst-italic text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium blanditiis molestias voluptas non, aliquid quo?</p>
    </div>
</footer>