.d-inline-block{
    width: 150px;
    height: 80px;
    align-items: start;
}
.nav-link{
    color: #585858;
    width: 100px;
    height: 100px;
    text-align: center;
}

.clock{
    font-size: 1rem;
    color: #7e7e7e;
    text-align: center;
    padding: 0.5rem;
    border: 2px solid #7e7e7e;
    
}