.img-nav {
    width: 250px;
    height: 250px;
    padding-left: 50px;
}
.navbar{
    height: 150px;
}
.nav-link{
    color: #6c757d;
    width: 100px;
    height: 100px;
}

.clock{
    font-size: 1rem;
    color: #7e7e7e;
    text-align: center;
    padding: 0.5rem;
    border: 2px solid #7e7e7e;
    
}