<div class="container overflow-hidden text-center">
    <div class="row gx-5">
        <div class="col-9" style="width: 15rem;">
            <img src="../../../assets/img/walker.jpg" class="img-fluid rounded-circle mt-3" alt="...">
            <div class="card-body">
                <h5 class="card-title p-2 md-title">Carlos Ibáñez</h5>
                <p class="card-text p-1">Ingeniera Civil en Informática | 🍰 26 años (20/07)</p>
            </div>
        </div>
        <div class="col-9" style="width: 15rem;">
            <img src="../../../assets/img/brant.jpg" class="img-fluid rounded-circle mt-3" alt="...">
            <div class="card-body">
                <h5 class="card-title p-2 md-title">Cristian Brant</h5>
                <p class="card-text p-1">Ingeniera Civil en Informática | 🍰 25 años (28/02)</p>
            </div>
        </div>
        <div class="col-9" style="width: 15rem;">
            <img src="../../../assets/img/eli.jpg" class="img-fluid rounded-circle mt-3" alt="...">
            <div class="card-body">
                <h5 class="card-title p-2 md-title">Elizabeth Cespedes</h5>
                <p class="card-text p-1">Ingeniera Civil en Informática | 🍰 25 años (31/10)</p>
            </div>
        </div>
        <div class="col-9" style="width: 15rem;">
            <img src="../../../assets/img/chufi.jpg" class="img-fluid rounded-circle mt-3" alt="...">
            <div class="card-body">
                <h5 class="card-title p-2 md-title">Josefa Lazo</h5>
                <p class="card-text p-1">Diseño de Juegos Digitales | 🍰 22 años (29/04)</p>
            </div>
        </div>
    </div>  
</div>